$breakpoint-md:                       768px;
$breakpoint-lg:                      1200px;

$color-primary-cyan:          rgb(0,255,255);
$color-primary-magenta:       rgb(255,0,255);
$text-color:                 #646464;

$font-family:  "Open Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
