.beej-header {
  position: relative;

  &__container {
    align-items: center;
    display: flex;
    height: 60px;
    padding: 10px 20px;
  }

  &__logo {
    height: 30px;
  }

  &__logo-img {
    height: 30px;
  }

  &__nav {
    display: none;
    background-image: linear-gradient($color-primary-cyan, $color-primary-magenta);
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
  }

  &__nav-item {
    color: white;
    margin: 0 10px;
    padding: 0 20px;
    font-weight: bold;
    transition: all .25s ease-in-out;

    &:hover {
      background: $color-white;
      color: $color-primary-magenta;
    }
  }

  &__menu-button {
    &:after {
      height: 50px;
      width: 50px;
      content: url('src/main/content/jcr_root/etc/icons/close-icon.svg');
    }
    &--open {
      &:after {
        content: url('src/main/content/jcr_root/etc/icons/menu-icon.svg');
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    &__container {
      height: 90px;
    }

    &__logo {
      height: 50px;
    }

    &__logo-img {
      height: 50px;
    }

    &__nav {
      background: transparent;
      display: block;
    }

    &__nav-items {
      display: flex;
      align-items: center;
    }

    &__nav-item {
      color: $text-color-dark;
    }

    &__menu-button {
      display: none;
    }
  }
}
