.beej-header {
  height: 80px;

  &__container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  &__logo-img {
    height: 40px;
  }

  &__nav {
    display: none;
    background-image: linear-gradient($color-primary-cyan, $color-primary-magenta);
  }

  &__nav-item {
    color: white;
    margin: 0 10px;
    padding: 0 20px;
    font-weight: bold;
    transition: all .25s ease-in-out;

    &:hover {
      background: $color-white;
      color: $color-primary-magenta;
    }
  }

  @media (min-width: $breakpoint-md) {
    height: 100px;

    &__logo-img {
      height: 60px;
    }

    &__nav {
      background: transparent;
      display: block;
    }

    &__nav-items {
      display: flex;
      align-items: center;
    }

    &__nav-item {
      color: $text-color-dark;
    }
  }
}
